.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}
.contenido {
    padding: 1rem;
}
.contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}
.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
}
.precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
}
.enlace {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
}
.enlace:hover {
    background-color: var(--primary);
}

.formulario {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario label {
    font-size: 2.2rem;
}

.formulario select {
    border: 1px solid var(--black);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-size: 1.5rem;
}

.formulario input[type='submit'] {
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .3rem;
    border: none;
    background-color: var(--primary);
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    font-weight: bold;
    text-transform: uppercase;
}

.formulario input[type='submit']:hover {
    background-color:#fca002;
    cursor: pointer;
}